<%- include('partials/header') -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <input type="text" name="postTitle" placeholder="Write your thoughts" autocomplete="off">
  <button type="submit" name="compose" value="newPublish">Publish</button>
</form>

<%- include('partials/footer') -%>
